body{
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  margin: 0 ;
  overflow-y: hidden;
}
.container{
  width: 70vw;
  height: 80vh;
  border: 2px solid black;
  margin: 5rem auto;
  background: url('./assets/Img_1.png');
  background-size: cover;
  overflow-y: hidden;
  position: relative;
  box-shadow: 15px 35px 15px 15px rgba(0, 0, 0, 0.3);
}
.surface{
  background: url('./assets/Img_02.png');
  position: absolute;
  height: 140px;
  width: 1500%;
  bottom: 0;

}
.car{
  background: url('./assets/Img_06.png');
  position: absolute;
  bottom: 2.5%;
  left: 14%;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;

}

@keyframes surface_move {
  100%{
    transform: translateX(-3000px);
  }
}
@keyframes car_jump {
  100%{
    transform: translateY(-1px);
  }
  50%{
    transform: translateY(2px);
  }
  0%{
    transform: translateY(-1px);
  }
}
.surface_move{
  animation: surface_move 5s linear infinite;
}
.car_jump{
  animation: car_jump 1s linear infinite;
}
